In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("loan_data.csv")
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
377,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
378,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
379,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
380,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [4]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
376,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
377,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
378,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
379,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
380,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [6]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,381.000000,381.000000,381.000000,370.000000,351.000000
mean,3579.845144,1277.275381,104.986877,340.864865,0.837607
std,1419.813818,2340.818114,28.358464,68.549257,0.369338
min,150.000000,0.000000,9.000000,12.000000,0.000000
25%,2600.000000,0.000000,90.000000,360.000000,1.000000
50%,3333.000000,983.000000,110.000000,360.000000,1.000000
75%,4288.000000,2016.000000,127.000000,360.000000,1.000000
max,9703.000000,33837.000000,150.000000,480.000000,1.000000

In [7]:
data.isnull().sum()

Loan_ID               0
Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
mean = data.mean(numeric_only=True)
mean

ApplicantIncome      3579.845144
CoapplicantIncome    1277.275381
LoanAmount            104.986877
Loan_Amount_Term      340.864865
Credit_History          0.837607
dtype: float64

In [9]:
data['LoanAmount'].mean()

np.float64(104.98687664041995)

In [10]:
data['Loan_Amount_Term'].mean()

np.float64(340.86486486486484)

In [11]:
median = data.median(numeric_only=True)
median

ApplicantIncome      3333.0
CoapplicantIncome     983.0
LoanAmount            110.0
Loan_Amount_Term      360.0
Credit_History          1.0
dtype: float64

In [12]:
data['Age'].median()

KeyError: 'Age'

In [13]:
minimum = data.min(numeric_only=True)
minimum

ApplicantIncome      150.0
CoapplicantIncome      0.0
LoanAmount             9.0
Loan_Amount_Term      12.0
Credit_History         0.0
dtype: float64

In [14]:
maximum = data.max(numeric_only=True)
maximum

ApplicantIncome       9703.0
CoapplicantIncome    33837.0
LoanAmount             150.0
Loan_Amount_Term       480.0
Credit_History           1.0
dtype: float64

In [15]:
std = data.std(numeric_only=True)
std

ApplicantIncome      1419.813818
CoapplicantIncome    2340.818114
LoanAmount             28.358464
Loan_Amount_Term       68.549257
Credit_History          0.369338
dtype: float64

In [16]:
data['Age'].std()

KeyError: 'Age'

In [17]:
data.groupby('Age').count()

KeyError: 'Age'

In [18]:
import numpy as np

In [19]:
data=pd.read_csv("iris.csv")
data

FileNotFoundError: [Errno 2] No such file or directory: 'iris.csv'

In [20]:
data.groupby('Species').count()

KeyError: 'Species'

In [21]:
data.groupby('Species').mean()

KeyError: 'Species'

In [22]:
data.Species.mode()

AttributeError: 'DataFrame' object has no attribute 'Species'

In [23]:
data.SepalWidthCm.std()

AttributeError: 'DataFrame' object has no attribute 'SepalWidthCm'

In [24]:
data.SepalLengthCm.std()

AttributeError: 'DataFrame' object has no attribute 'SepalLengthCm'

In [25]:
import seaborn as sns
sns.violinplot(x="SepalWidthCm", y="Species", data=data)

ValueError: Could not interpret value `SepalWidthCm` for `x`. An entry with this name does not appear in `data`.

In [ ]:
numeric_df = data.select_dtypes(include=[np.number])  # Select numeric columns
correlation_matrix = numeric_df.corr(method='pearson')

In [ ]:
correlation_matrix

In [ ]:
data.skew()